server:
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: password
    key-alias: spring-security-udemy-course
  port: 8443
  servlet:
    session:
      timeout: 60m

spring:
  application:
    name: section7

  datasource:
    url: jdbc:mysql://localhost:3306/security_udemy_course_section7
    username: user
    password: pwd
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.security: INFO
  pattern:
    console: '%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n'